POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=sicemas
DB_URI=postgres://your_user:your_password@postgres:5432/sicemas?sslmode=disable&TimeZone=Asia/Jakarta
REDIS_ADDR=localhost:6379
AES_256_KEY=isi-dengan-random-string-32byte-base64
PEPPER=random-string-untuk-hash
JWT_SECRET=ini-secret
CSRF_SECRET=ini-juga-secret
CLOUDINARY_URL=
GOWA_URL=whatsapp:3000/send/message
APP_BASIC_AUTH=username:password
GOWA_USERNAME=username
GOWA_PASSWORD=password
GOWA_DEVICE_ID=didapat-setelah-masuk-ke-webui-gowa
