@import "tailwindcss";
@plugin 'daisyui';
@plugin 'daisyui/theme' {
    name: "kemenag";
    default: false;
    prefersdark: false;
    color-scheme: "light";

    --color-base-100: oklch(99% 0.01 160);
    --color-base-200: oklch(96% 0.02 160);
    --color-base-300: oklch(92% 0.04 160);
    --color-base-content: oklch(25% 0.02 160);

    --color-primary: oklch(45% 0.14 160);
    --color-primary-content: oklch(98% 0.01 160);

    --color-secondary: oklch(75% 0.15 150);
    --color-secondary-content: oklch(20% 0.05 150);

    --color-accent: oklch(85% 0.18 90);
    --color-accent-content: oklch(30% 0.1 80);

    --color-neutral: oklch(30% 0.05 160);
    --color-neutral-content: oklch(95% 0.01 160);

    --color-info: oklch(70% 0.1 220);
    --color-success: oklch(65% 0.18 160);
    --color-warning: oklch(80% 0.15 70);
    --color-error: oklch(60% 0.18 25);

    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --border: 1px;
}
